<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="azul.paleblue.foundation.azul">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".AzulApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Azul Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                      android:host="paleblue.foundation"
                      android:pathPrefix="/invite/" />
                <data android:scheme="http"
                      android:host="www.paleblue.foundation"
                      android:pathPrefix="/invite/" />
            </intent-filter>
        </activity>
        <activity
            android:name=".invite.InviteActivity"
            android:label="My Activity Title" />
        <activity
            android:name=".account.LoginActivity"
            android:label="Login" />
        <activity
            android:name=".account.ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".wallet.WalletActivity"
            android:label="Wallet" />
        <activity
            android:name=".wallet.TransactionHistoryActivity"
            android:label="Tx History" />
        <activity
            android:name=".wallet.receive.RequestMoneyActivity"
            android:label="Request Money" />
        <activity
            android:name=".wallet.send.SendMoneyActivity"
            android:label="Send Money" />
        <activity
            android:name=".wallet.send.ScannerActivity"
            android:label="Scan" />
        <activity
            android:name=".network.TestNetworkActivity"
            android:label="Test Network" />

        <service android:name=".push.PushService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".invite.InstallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
